.DnDPopUp {
  &-content {
    max-width: 500px;
    border-radius: 5%;
    margin-top: 200px !important;
  }
  &__body {
    font-size: 12px;
  }
  &__close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
  }
  &__header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
  }
  &__content {
    width: 100%;
    padding: 10px 5px;
  }
  &__actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: space-around;
  }
}
