.sidebar-connection {
  background-color: white;
  padding: 5px;
  &__heading {
    margin: 0;
  }
  &__condition {
    padding: 5px 25px;
    div {
      display: flex;
      padding: 3px;
      width: 100%;
      span {
        min-width: 100px;
      }
      select {
        width: 100%;
      }
      input {
        width: 100%;
      }
    }
  }
}

input[type="checkbox"] {
  margin: 0;
  padding: 0;
}
